#board{
    margin-top: 50px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    background-color: black;

    width: fit-content;
}

.sqr{
    width: 60px;
    height: 60px;

    margin: 0;
    padding: 0;

    text-align: center;
    line-height: 60px;

    font-size: 40px;
    box-sizing: border-box;
}
